body{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
}

.page-footer{
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    font-weight: 700;
    color: #c9d1e0;
}
.authentication-background{
    z-index: 0;
    height: 420px;
    background-color: #0f1a2f;
    opacity: 90.2%;
    margin-top: 190px;
}

.login-header, .signup-header{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300 !important;
}
.login-header, .signup-header{
    color: #3e495e;
}
#upper-fold{
    height: 0; 
    border-top: 20px solid transparent;    
    border-right: 10px solid #82d1f1;
    margin-top: 170px;
    z-index: -1;
}
#lower-fold{
    height: 0; 
    border-bottom: 20px solid transparent;    
    border-right: 10px solid #81d1f1;
    margin-top: 610px;
    z-index: -1;
}
#active-login-section{
    z-index: 10;
}
#active-box{
    height: 460px;
    background-color: white;
    margin-top: 170px;
}
#login-box{
    padding-top: 95px;
    z-index: 1;
}
#signup-box{
    padding-top: 65px;
    z-index: -1;
}
.line-divisor{
    border: 1px solid #49abfe;
    width: 40px;
    margin: 25px 0 25px 0;
}
.red-star{
    color: red;
}
.name-header, .email-header, .password-header{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #8495b7;
}
.email-img{
    width: 16px;
    height: 14px;
}
input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #cbd2df;
    width: 100%;
} 
.email-header label, .password-header label, .name-header label{
    margin-bottom: 0px !important;
} 
.login-email-input, .signup-email-input, .login-password-input, .signup-password-input, .name-input {
    line-height: 5px;
    margin-bottom: 15px
}
.button-section{
    margin-top: 15px;
}
.login-button, .signup-button, .profile-button{
    background-color: #f89a35 !important;
    color: white !important;
    border-radius: 50px !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700 !important;
}
.login-button:hover, .signup-button:hover{
    background-color: #f8bf35 !important;
}
.inactive-signup-button:hover, .inactive-login-button:hover{
    background-color: #49abfe !important;
}
.profile-button{
    margin-top: 15px;
}
.btn-lg{
    height: 50px;
    width: 150px;
    font-size: 0.85rem !important;
    letter-spacing: 2px;
}
.forgot-link{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #8495b7;
    margin-top: 15px;
}
.inactive-section{
    z-index: 1;
    margin-top: 265px;
}
#nameHeader, #signupEmailHeader, #signupPasswordHeader, #loginEmailHeader, #loginPasswordHeader{
    font-size: 1rem;
    font-weight: 400;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
#name-img, #signup-email-img, #signup-password-img, #login-email-img, #login-password-img{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease; 
}
.inactive-header{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300 !important;
    color: white;
}
.inactive-section-abstract{
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400 !important;
    line-height: 2;
}
.headings{
    margin-top: 265px;
}
.separating-lines{
    margin-top: 315px;
}
.main-content{
    margin-top: 355px;
}
.email-input-row{
    margin-top: 390px;
}
.inactive-button{
    background-color: transparent !important;
    color: white !important;
    border-radius: 50px !important;
    border: 2px solid #49abfe !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700 !important;
}
.offset-lg-2, .col-lg-2, .col-lg-1, .offset-lg-5, .ml-lg-3, .offset-lg-6, .ml-lg-0, .ml-lg-n3{
    transition: all 800ms ease;
}
.show {
    opacity: 1;
    transition: opacity 700ms;
}
.hide {
    opacity: 0;
    transition: opacity 700ms;
}
.error{
    display: inline;
}
.error p{
    margin-bottom: 0 !important;
    display: inline-block;
    color: red;
}
#nameError, #emailSignupError, #passwordSignupError, #emailLoginError, #passwordLoginError, #nameLengthError, #passwordLengthError{
    display: none;
}
.greetingsPanel{
    margin: 50px 0px 50px 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300 !important;
}
.jumbotron{
    width: 50%;
    padding: 20px 20px 20px 20px !important;
}
.attributeName{
    margin-top: 10px;
}
.profile-button{
    margin-top: 20px;
}
#logout{
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300 !important;
}